<!doctype html>
<html>
<head>
  <title>Cocktail de fruits</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../partial/head %>
  

</head>

<!-- 3. Display the application -->
<body>
  <my-app>Loading...</my-app>
</body>

</html>